.mejs-offscreen, .mejs-time, .mejs-currenttime-container, .mejs-duration-container,
.mejs-volume-button, .mejs-time-rail {
	display: none;
	overflow: hidden;
}
.mejs-playpause-button {
	border: 1px solid rgb(50,50,50);
    cursor: pointer;
    height: 40px;
    width: 100%;
    position: absolute;
    top: -10px;
    left: -5px;
}

.mejs-playpause-button.mejs-play {
	background: url('./images/play.svg') right center no-repeat;
    background-size: 30px;
    -webkit-background-size: 30px;
}
.unit:hover .mejs-playpause-button.mejs-play {
	background: url('./images/play-hover.svg') right center no-repeat;
    background-size: 30px;
     -webkit-background-size: 30px;
}
.mejs-playpause-button.mejs-pause {
	background: url('./images/pause.svg') right center no-repeat;
    background-size: 30px;
     -webkit-background-size: 30px;
}
.unit:hover .mejs-playpause-button.mejs-pause {
	background: url('./images/pause-hover.svg') right center no-repeat;
    background-size: 30px;
     -webkit-background-size: 30px;
}
*:focus {
    outline: none;
}
.mejs-playpause-button button {
	display: none;
}
button:focus {
	outline: none;
}

/* ----- */
body {
	padding-top: 8px;
	width: 100%;
	font-family: helvetica, clean, sans-serif;
	background: #333030;
    color: rgb(250,250,250);
}
@media all and (min-width: 600px){
	body {
		width: 600px;
		margin: 0 auto;
	}
}
h1 {
	font-size: 24px;
	text-align: center;
	margin-bottom: 30px;
}
br {
	color: gold;
	border-bottom:1px dashed gold;
}
.unit {
	margin: 20px 10px;
	position: relative;
}
.unit:hover{
	color: #FFD300;
}
.vocabulary {
	font-size: 20px;
	text-align: center;
}
.page-links {
	display: block;
	text-align: center;
	margin: 30px 0 100px 0;
}
.next,.next:visited {
	color: black;
    text-align: center;
    padding: 10px 40px;
    background: lightblue;
    background: #FFD300;
    text-decoration: none;
}
.next:hover {
	text-decoration: underline;
}
.title, .title:visited {
	color: rgb(250,250,250);
	text-decoration: none;
}
.title:hover {
	color: #FFD300; 

}
.menu, .menu:visited {
	display: block;
    color: black;
    text-align: left;
    padding: 10px 20px;
    background: lightgray;
    text-decoration: none;
    margin: 20px;
}
.menu:hover {
	background: #FFD300; 
    
}
