.mejs-offscreen, .mejs-time, .mejs-currenttime-container, .mejs-duration-container,
.mejs-volume-button, .mejs-time-rail {
	display: none;
	overflow: hidden;
}
.mejs-playpause-button {
	border: 1px solid rgb(50,50,50);
    cursor: pointer;
    height: 40px;
    width: 100%;
    position: absolute;
    top: -10px;
    left: -5px;
}

.mejs-playpause-button.mejs-play {
	background: url('./images/play.svg') right center no-repeat;
    background-size: 30px;
}
.unit:hover .mejs-playpause-button.mejs-play {
	background: url('./images/play-hover.svg') right center no-repeat;
    background-size: 30px;
}
.mejs-playpause-button.mejs-pause {
	background: url('./images/pause.svg') right center no-repeat;
    background-size: 30px;
}
.unit:hover .mejs-playpause-button.mejs-pause {
	background: url('./images/pause-hover.svg') right center no-repeat;
    background-size: 30px;
}
*:focus {
    outline: none;
}
.mejs-playpause-button button {
	display: none;
}
button:focus {
	outline: none;
}

/* ----- */
body {
	padding-top: 8px;
	width: 100%;
	font-family: helvetica, clean, sans-serif;
	background: #333030;
    color: rgb(250,250,250);
}
@media all and (min-width: 600px){
	body {
		width: 600px;
		margin: 0 auto;
	}
}
h1 {
	font-size: 24px;
	text-align: center;
	margin-bottom: 30px;
}
.unit {
	margin: 20px 10px;
	position: relative;
}
.unit:hover{
	color: #FFD300;
}
.vocabulary {
	font-size: 20px;
	text-align: center;
}
